# minimum swiftformat version
--minversion 0.50.6

# format options
--funcattributes same-line
--ranges no-space

# rules enabled
--enable wrapEnumCases

# rules disables
--disable andOperator
--disable redundantLet
--disable redundantPattern
--disable wrapMultilineStatementBraces